.button-hover-styles {
  transition: 0.3s;
  &:hover {
    color: $brown;
    transition: 0.3s;
  }

  span {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: $brown;
  }

  span::before,
  span::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: $brown;
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 2px);
  }
  &:hover span::before,
  &:hover span::after {
    height: calc(100% + 2px);
  }
  &::before,
  &::after {
    transition-delay: 0.2s;
  }
  &span::before,
  & span::after {
    transition-delay: 0s;
  }
  &::before {
    right: -1px;
    top: -1px;
  }
  &::after {
    left: -1px;
    bottom: -1px;
  }
  span::before {
    left: -1px;
    top: -1px;
  }
  span::after {
    right: -1px;
    bottom: -1px;
  }
  &:hover::before,
  &:hover::after {
    transition-delay: 0s;
  }
  &:hover span::before,
  &:hover span::after {
    transition-delay: 0.2s;
  }
}
