@mixin flex-center {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 200px;
}

@mixin border-custom-link($padding-x, $padding-y, $border-width, $border-color, $button-text-color){
  text-decoration: none;
  padding: $padding-y $padding-x;
  border: $border-width solid $border-color;
  display: inline-block;
  color: $button-text-color;
  position: relative;
}

