body{
    // position:relative;
    margin: 0;
    // overflow-x:hidden;
    font-family: $raleway;
    color: $black;
    overflow: hidden;
    @media (min-width: 1px){
        overflow-y: scroll;
    }
}
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     body {
//       overflow: hidden;
//     }
//   }