h1,
.f-h1 {
  font-size: 51px;
  font-weight: 900;
  line-height: 61px;
  margin: 0;
  //   @media (max-width: $lg) {
  //     font-size: 42px;
  //   }
}
h2,
.f-h2 {
  font-size: 48px;
}
h3,
.f-h3 {
  font-size: 32px;
}
h4,
.f-h4 {
  font-size: 28px;
}
h5,
.f-h5 {
  font-size: 20px;
}
h6,
.f-h6 {
  font-size: 13px;
}

// EACH-LOOP FONT-WEIGHT
$font-weights: (
  fw100: 100,
  fw200: 200,
  fw300: 300,
  fw400: 400,
  fw500: 500,
  fw600: 600,
  fw700: 700,
  fw800: 800,
  fw900: 900,
);

@each $class, $weight in $font-weights {
  //OFFER
  .offer__timer-heading--#{$class},
  .offer__timer--#{$class},
  .offer__heading--#{$class},
  .offer__bottom-heading--#{$class},
  .offer__price--#{$class},
  .offer__cart--#{$class},
  .offer__discount--#{$class},
  .offer__pack--#{$class},
  .offer__bonus-box--#{$class},
  .offer__review-heading--#{$class},
  .offer__review-rating-numbers--#{$class},
  .offer__review-sum--#{$class},
  //PRIZES
  .prizes__heading--#{$class},
  .prizes__text-area--#{$class},
  //BONUSES
  .bonuses__heading--#{$class},
  .bonuses__photo-heading--#{$class},
  .bonuses__bottom-heading--#{$class},
  .bonuses__text-area--#{$class},
  //DELIVERY
  .delivery__heading--#{$class},
  .delivery__text-area--#{$class},
  //OPINIONS
  .opinions__heading--#{$class},
  .opinions__verify--#{$class},
  .opinions__text-area--#{$class},
  .opinions__rating-box--#{$class},
  //INGREDIENTS
  .ingredients__item--#{$class},
  //QUESTIONS
  .questions__heading--#{$class},
  .questions__item-heading--#{$class},
  .questions__content--#{$class},
  //FOOTER
  .f-main__links--#{$class},
  .f-main__bottom-content--#{$class} {
    font-weight: #{$weight};
  }
}

// EACH-LOOP FONT-SIZE

$font-sizes: (
  fs12: 12px,
  fs14: 14px,
  fs18: 18px,
  fs20: 20px,
  fs25: 25px,
  fs30: 30px,
  fs32: 32px,
  fs35: 35px,
  fs50: 50px,
  fs51: 51px,
  fs90: 90px,
);

@each $class, $size in $font-sizes {
  //OFFER
  .offer__timer-heading--#{$class},
  .offer__timer--#{$class},
  .offer__heading--#{$class},
  .offer__bottom-heading--#{$class},
  .offer__price--#{$class},
  .offer__cart--#{$class},
  .offer__discount--#{$class},
  .offer__pack--#{$class},
  .offer__bonus-box--#{$class}, 
  .offer__review-heading--#{$class}, 
  .offer__review-rating-numbers--#{$class}, 
  .offer__review-sum--#{$class}, 
  //PRIZES
  .prizes__heading--#{$class}, 
  .prizes__text-area--#{$class}, 
  //BONUSES
  .bonuses__heading--#{$class}, 
  .bonuses__photo-heading--#{$class}, 
  .bonuses__bottom-heading--#{$class}, 
  .bonuses__text-area--#{$class}, 
  //DELIVERY
  .delivery__heading--#{$class}, 
  .delivery__text-area--#{$class},
  //OPINIONS
  .opinions__heading--#{$class},
  .opinions__verify--#{$class},
  .opinions__text-area--#{$class},
  .opinions__rating-box--#{$class},
  //INGREDIENTS
  .ingredients__item--#{$class},
  //QUESTIONS
  .questions__heading--#{$class},
  .questions__item-heading--#{$class},
  .questions__content--#{$class},
  //FOOTER
  .f-main__info-item--#{$class},
  .f-main__links--#{$class},
  .f-main__bottom-content--#{$class} {
    font-size: $size;
  }
}
