.opinions {
  padding: 72px 0 23px 0;
  @media (max-width: $lg){
    padding-top: 50px;
  }
  &__heading {
    margin-bottom: 53px;
    line-height: 50px;
    color: $sea-dark;
    text-align: center;
    @media (max-width: $md){
      font-size: 30px;
    }
    @media (max-width: $sm){
      font-size: 25px;
      line-height: 40px;
    }
  }
  &__box,
  &__content-box,
  &__verify,
  &__text-area,
  &__rating-box {
    display: flex;
  }
  &__box {
    padding: 40px 65px 35.6px 40px;
    background: $white;
    border: solid 2px $cyan;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    margin-bottom: 40px;
    box-shadow: 0 3px 30px 0 rgba(212, 212, 212, 0.33);
    gap: 61px;
    img {
      height: 100%;
    }
    @media (max-width: $lg){
      gap: 30px;
    }
    @media (max-width: $md) {
      align-items: flex-start;
      flex-direction: column;
    }
    @media (max-width: $sm) {
      align-items: center;
      padding: 40px 20px 35px 20px;
    }
  }
  &__photo{
    @media (max-width: $sm){
      height: 350px !important;
    }
  }
  &__content-box {
    flex-direction: column;
    align-items: flex-start;
  }
  &__verify {
    align-items: center;
    justify-content: center;
    padding: 17px 22px 16px 23px;
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 30px 0 #d4d4d4;
    border-radius: 20px;
    background-color: $sea-medium;
    color: $white;
    gap: 10.5px;
    line-height: 24px;
    margin-bottom: 27px;
  }
  &__text-area {
    color: $black;
    line-height: 28.8px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    p {
      margin: 0;
    }
    @media (max-width: $lg) {
      font-size: 18px;
    }
  }
  &__rating-box {
    gap: 12px;
    line-height: 28.8px;
    color: $sea-light;
    align-items: center;
    img{
      height: 31px;
    }
    @media (max-width: $lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
